

<div class="container">
    <div class="row mb-4">
       

        <div class="col-md-4">
            <img src="assets/images/poster1.jfif" class="img-fluid">
        </div>
        <div class="col-md-7 offset-md-1 align-items-center">
           <div> 
            <h3 class="cont text-white mt-5 mb-2">FIVE FEET APART</h3>
            <p class="home1 text-muted"> MARCH 15 2019</p>
            <p class="home2 text-white pt-4  mb-4">Five Feet Apart is a 2019 American romantic drama film directed by
               Justin Baldoni (in his directorial debut) and written by Mikki Daughtry 
               and Tobias Iaconis. The film was inspired by Claire Wineland, who suffered from
               cystic fibrosis.[5] Haley Lu Richardson and Cole Sprouse play two young patients 
               with cystic fibrosis, who try to have a relationship despite always being forced to stay 
               a certain distance (6 ft) away from each other. It was released in the United States on March 15,
               2019 by CBS Films via Lionsgate.[1] The film received mixed reviews from                 
               critics and has grossed over $91 million worldwide.</p>

               <button class="btn btn-outline-info mt-3">LEARN MORE</button>
            </div>

        </div>
        

    </div>
    <div class="row mb-4">
       

        <div class="col-md-7 offset-md-1 align-items-center">
           
            <h3 class="cont text-white mt-5 mb-2">LA CASE DE PAPEL </h3>
            <p class="home1 text-muted"> JULY 19 2019</p>
            <p class="home2 text-white pt-4  mb-4">Money Heist (Spanish: La casa de papel, transl. The House of Paper)
                 is a Spanish television series created by Álex Pina. The first season, consisting of two parts, 
                 premiered on 2 May 2017, on Spanish network Antena 3. The TV show portrays heists on the Royal 
                 Mint of Spain and the Bank of Spain by a group of code-named robbers,
                 as they battle with hostages on the inside, and the police on the outside. As of 3 April 2020,
                  31 episodes  of Money Heist have aired, concluding the second season
                In late 2017, Netflix acquired the global streaming rights for the series,and
                 re-cut the original 15 episodes into 22.[2] Netflix officially renewed the series for a 
                 </p>

               <button class="btn btn-outline-info mt-2">LEARN MORE</button>
        </div>
        <div class="col-md-4">
            <img src="assets/images/poster3.jfif" class="img-fluid">
        </div>
    
    </div>

    <div class="row mb-4">
       

        <div class="col-md-4">
            <img src="assets/images/ann1.png" class="img-fluid">
        </div>
        <div class="col-md-7 offset-md-1 align-items-center">
           <div> 
            <h3 class="cont text-white mt-5 mb-2">Anne with an E</h3>
            <p class="home1 text-muted">March 19 2017</p>
            <p class="home2 text-white pt-4  mb-4">Anne with an E is described as a coming-of-age story about
                 an outsider who fights for acceptance, for her place in the world and for love.The drama 
                 revolves around a young orphaned girl who, after an abusive childhood spent in orphanages and the homes of
                  strangers, is mistakenly sent to live with an elderly spinster and her aging brother. ... Over time,
                  13-year-old Anne will transform their lives and eventually the small town in which they live
                , with her unique spirit, fierce intellect and brilliant imagination </p>

               <button class="btn btn-outline-info mt-3">LEARN MORE</button>
            </div>

        </div>
        
    </div>
    <div class="row mb-4">
       
        <div class="col-md-7 offset-md-1 align-items-center">
           
            <h3 class="cont text-white mt-5 mb-2">AVENGERS</h3>
            <p class="home1 text-muted">APRIL 22 2019</p>
            <p class="home2 text-white pt-4  mb-4">Avengers: Endgame is a 2019 American superhero film based on the 
                Marvel Comics superhero team the Avengers, produced by Marvel Studios and distributed by Walt Disney
                 Studios Motion Pictures. It is the direct sequel to Avengers: Infinity War (2018) and the 22nd film
                  in the Marvel Cinematic Universe (MCU). It was directed by Anthony and Joe Russo and written by
                   Christopher Markus and Stephen McFeely, and features an ensemble cast
                 including Robert Downey Jr.</p>

               <button class="btn btn-outline-info mt-3">LEARN MORE</button>

        </div>

        <div class="col-md-4">
            <img src="assets/images/poster4.jfif" class="img-fluid">
        </div>
        
    </div>

</div>