


<form class="w-75 m-auto" [formGroup] = 'contactsForm' (ngSubmit)= 'saveForm()'>
    <div class="form-group">
        <label class="text-white">clientName</label>
        <input  formControlName = 'clientName' class="form-control">
        <small class="text-muted">clientName between 2 to 8</small>
        <div *ngIf = 'contactsForm.controls.clientName.errors !=null && contactsForm.controls.clientName.touched' class="border border-danger p-2 m-2">
            <p class="text-danger">clientName not valid</p>
        </div>

    </div>
    <div class="form-group">
        <label class="text-white">clientAge</label>
        <input  formControlName = 'clientAge' class="form-control">
        <small class="text-muted">clientAge between 10 to 80</small>
        <div *ngIf = 'contactsForm.controls.clientAge.errors !=null && contactsForm.controls.clientAge.touched' class="border border-danger p-2 m-2">
            <p class="text-danger">clientAge not valid</p>
        </div>

    </div>
    <div class="form-group">
        <label class="text-white">clientMail</label>
        <input  formControlName = 'clientMail' class="form-control">
        <small class="text-muted">clientMail must be valid mail</small>
        <div *ngIf = 'contactsForm.controls.clientMail.errors !=null && contactsForm.controls.clientMail.touched' class="border border-danger p-2 m-2">
            <p class="text-danger">clientMail not valid</p>
        </div>

    </div>
    <div class="form-group">
        <label class="text-white">messageTitle</label>
        <input  formControlName = 'messageTitle' class="form-control">
        <small class="text-muted">messageTitle</small>
        <div *ngIf = 'contactsForm.controls.messageTitle.errors !=null && contactsForm.controls.messageTitle.touched' class="border border-danger p-2 m-2">
            <p class="text-danger">messageTitle not valid</p>
        </div>

    </div>
    <div class="form-group">
        <label class="text-white">messageBody</label>
        <textarea  formControlName = 'messageBody' class="form-control"></textarea>
        
 

    </div>

    <button [disabled]='!contactsForm.valid' type="submit" class="btn btn-info my-2">send</button>


</form>