
<nav class="py-3">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">
                <img src="assets/images/logo.png" class="img-fluid">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled d-flex justify-content-around">
                    <li>
                        <a routerLink='home'>HOME</a>
                    </li>
                    
                    <li>
                        <a routerLink='movies'>MOVIES</a>
                    </li>
                    
                    <li>
                        <a routerLink='tv'>TV</a>
                    </li>

                    <li>
                        <a routerLink='people'>PEOPLE</a>
                    </li>

                    <li>
                        <a routerLink='about'>ABOUT</a>
                    </li>
                    
                    <li>
                        <a routerLink='contacts'>CONTACTS</a>
                    </li>

                </ul>

            </div>
            <div class="col-md-2 text-white d-flex justify-content-around">
             <a href="https://feta.egybest.cheap/"><i class="fab fa-facebook"></i> </a>
             <a href="https://feta.egybest.cheap/">  <i class="fab fa-twitter"></i> </a>
             <a href="https://feta.egybest.cheap/"> <i class="fab fa-instagram"></i> </a>
             <a href="https://feta.egybest.cheap/">   <i class="fab fa-youtube"></i>  </a>


            </div>










        </div>
    </div>
</nav>